<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
	<title>Movie form</title>
</head>
<body>
	<h2>Movie Ratings</h2>
	<form action="#" th:action="@{/movies/new}" th:object="${movierating}" method="post">
	Poster name: <input type="text" th:field="*{posterName}" />
		<span th:if="${#fields.hasErrors('posterName')}" th:errors="*{posterName}"> </span> <br />
	Title: <input type="text" th:field="*{title}" />
		<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </span> <br />
	Rating: <input type="text" th:field="*{rating}" />
		<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"> </span> <br />
	<input type="submit" value="Submit" />
	</form>
</body>
</html>